[submodule "nufacturing"]
	path = nufacturing
	url = git@github.com:Gallimore-Software/nufacturing.git
[submodule "clients/nufacturing"]
	path = clients/nufacturing
	url = https://github.com/gallimore-software/nufacturing
