<!-- <section class="subnav" [class.collapsed]="dock">
  <mat-icon (click)="toggleDock()">{{ dock ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
  <div>
    <button mat-button routerLink="bom-form">BOM Form</button>
    <button mat-button routerLink="ingredient-calculation">Calculate Ingredients</button>
    <button mat-button routerLink="package-breakdown">Calculate Package Breakdown</button>
    <button mat-button routerLink="ingredient-breakdown-without-moq">Calculate Profits without MOQ</button>
    <button mat-button routerLink="ingredient-breakdown-with-moq">Calculate Profits with MOQ</button>
    <button mat-button routerLink="sales-analysis">Sales Analysis</button>
    <button mat-button routerLink="calculate-profit">Calculate Profit</button>
    <button mat-button routerLink="calculate-quote-pricing">Calculate quote Pricing</button>
  </div>
</section> -->

<section class="bom" [class.expanded]="dock">
  <router-outlet></router-outlet>
</section>
