.login-page {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .carousel-container {
    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
  }
  mat-card-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 64px;
  }
}
.register-link {
  margin-top: 20px;
  text-align: center;

  p {
    margin: 0;
    font-size: 0.9rem;
  }

  a {
    font-weight: 500;
    color: #65aaee;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .carousel-container {
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    .form-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      position: fixed;
      margin-top: 10vh;
    }
  }
}
