<!-- <section class="subnav" [class.collapsed]="dock">
  <mat-icon (click)="toggleDock()">{{ dock ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
    <div>
      <button mat-button routerLink="ingredients-info">Ingredients Info</button>
      <button mat-button routerLink="supplement-facts-only">supplement-facts-only</button>
      <button mat-button routerLink="supplement-facts-details">supplement-facts-details</button>
    </div>
</section> -->

<section class="nufacturing_ingredients" [class.expanded]="dock">
  <router-outlet></router-outlet>
</section>
