/* General Styles for the Dashboard */
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.mat-card-header {
  background-color: #f5f5f5;
}

.mat-card-title {
  color: #333;
  font-size: 20px;
}

.mat-card-content {
  padding: 15px;
}

/* Styles for Metrics Dashboard */
.sales-dashboard .mat-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.chart-section {
  flex: 1;
  height: auto;
}

.chart-container {
  flex-grow: 1;
  height: auto;
  padding: 10px;
  border-radius: 8px;
}

canvas {
  height: 100% !important;
  width: 100% !important;
}

/* Styles for Recent Activity */
.recent-activity {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
}

/* Quick Links Style */
.quick-links {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 0;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.alert-boxes {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.alert-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
/* Responsive Adjustments */
@media (max-width: 1024px) {
  .sales-dashboard .mat-card-content {
    grid-template-columns: 1fr;
  }

  .quick-links,
  .recent-activity {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .chart-section {
    flex-direction: column;
  }
}
