<div fxLayout="row" fxLayoutGap="20px" class="container">
  <!-- Form Section (50%) -->
  <div fxFlex="50%">
    <mat-card>
      <mat-card-title>Other Components</mat-card-title>
      <mat-card-content>
        <form [formGroup]="otherComponentsForm">
          <mat-form-field appearance="fill">
            <mat-label>Tamper Evident Type</mat-label>
            <mat-select formControlName="tamperEvidentType">
              <mat-option value="NeckBand">NeckBand</mat-option>
              <mat-option value="Tamper-Proof Sticker"
                >Tamper-Proof Sticker</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>NFG Neck Band Part #</mat-label>
            <mat-select formControlName="nfgNeckBandPart">
              <mat-option value="SP7505CPVC">SP7505CPVC</mat-option>
              <mat-option value="SP6505CPVC">SP6505CPVC</mat-option>
              <mat-option value="FULLSLEEVE">FULLSLEEVE</mat-option>
              <mat-option value="NA">NA</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tamper Evident Material Size</mat-label>
            <input
              matInput
              formControlName="tamperEvidentMaterialSize"
              readonly
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tamper Evident Color</mat-label>
            <input matInput formControlName="tamperEvidentColor" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tamper Evident Material</mat-label>
            <input matInput formControlName="tamperEvidentMaterial" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tamper Evident Pricing</mat-label>
            <input matInput formControlName="tamperEvidentPricing" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Silica</mat-label>
            <mat-select formControlName="silica">
              <mat-option value="2GSIEVED">2GSIEVED</mat-option>
              <mat-option value="10GGELD">10GGELD</mat-option>
              <mat-option value="1GSIEVED">1GSIEVED</mat-option>
              <mat-option value=".25GSIEVED">.25GSIEVED</mat-option>
              <mat-option value="NA">NA</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Silica Cost</mat-label>
            <input matInput formControlName="silicaCost" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cotton</mat-label>
            <mat-select formControlName="cotton">
              <mat-option value="COTTBD1">COTTBD1</mat-option>
              <mat-option value="COTTBD">COTTBD</mat-option>
              <mat-option value="NA">NA</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cotton Cost</mat-label>
            <input matInput formControlName="cottonCost" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Lot Code/Best By Date</mat-label>
            <mat-select formControlName="lotCodeBestByDate">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Lot Code/Best By Date Type</mat-label>
            <mat-select formControlName="lotCodeBestByDateType">
              <mat-option value="Blue Ink">Blue Ink</mat-option>
              <mat-option value="NA">NA</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Preview Section (50%) -->
  <div fxFlex="50%">
    <mat-card>
      <mat-card-title>Preview</mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="previewData" class="mat-elevation-z8">
          <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef>Property</th>
            <td mat-cell *matCellDef="let element">{{ element.property }}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element">{{ element.value }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
