.container {
  height: 100vh;
  position: relative;
}

mat-sidenav-content {
  margin-left: 80px;
  z-index: 10;
}

mat-sidenav {
  width: auto;
  z-index: 100;
  box-shadow: rgba(102, 160, 255, 0.15) 2.4px 2.4px 3.2px;
  border: none;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
  }
  .isVisible {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
  }

  app-sidenav {

  }

  mat-sidenav {
    display: none;
  }

  mat-sidenav-content {
    margin-left: 0;
  }
}
